.header {
	width: 100%;
	justify-content: flex-start;
	display: flex; 
	margin: 0 auto;
}

.navi {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
  width:  100%;
  margin:0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Lora', sans-serif;
}
.categoria{
	margin: 0rem 5rem;
	display: grid;
	grid-template-rows: 2rem 25rem;
	grid-template-columns:  1fr 1fr;
	justify-items: center;
	grid-gap: 1rem;
}
.categ_image{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}
.nome_categ{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	font-family: 'Lora', serif;
}
.texto_categ{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	font-family: 'Red Hat Display', sans-serif;
}
.projetos{
  margin: 1rem;
  font-family: 'Lora', serif;
  display: flex;
  justify-content: flex-start;
}

.posicao_texto_cat{
	padding-top:1.7rem;
}

.grade{
	display: flex;
	justify-content: center;
	font-family: 'Red Hat Display', sans-serif;
}

