.img{
	display: flex;
	justify-content: center;
}

.item1, .item2, .item3, .item4{
	margin: 1rem;
	padding: .5rem;
	justify-content: flex-start;
	display: flex
}

.item1, .item2{
	float: left;
	margin-left: 15%;
	width: 35%;
	flex-direction: row
}
.item3, .item4{
	margin-right: 15%;
	width: 35%;
	flex-direction: row
}

.header {
  width: 70%;
  justify-content: flex-start;
  display: flex; 
  margin: 0 auto;
}

.navi {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
  width:  70%;
  height:3rem;
  margin:0 auto;
}

.projetos_index{
    margin-left:16%;
    display: flex;
    justify-content: left;
    padding-top:1.7rem;
}
