body{
	background: #edf0ff;
}

a{
	text-decoration: none;
}

.link{  
	color: #EDF0FF;
}

.header{
	display: block
}

.navi {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	width:  100%;
	margin:0 auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-family: 'Lora', sans-serif;
	background: #292d40;
	font-size: 1.5rem;
	border-radius: 2rem;
}

.Menu1, .Menu2, .Menu3  {
	color: #edf0ff;
	text-decoration: none;

}

.Menu3 {
  position:relative;
  display: block:;
}

.figura_index{
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.projetos_index{
	font-family: 'Lora', sans-serif;
	font-size: 2rem;
	margin-top: 2rem;
	margin-left: 8.5%;

}

.lista{
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.nav{
	padding: 2rem;
	display: grid;	
	width: 80%;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	justify-items: center;
	align-items: stretch;
	font-family: 'Red Hat Display', sans-serif;
	background: #292d40;
	margin: 2rem;
	font-size: 1.5rem;
	border-radius: 2rem;
}
.item1, .item2, .item3, .item4{
	padding: .5rem;
	border-radius: 1rem;
	margin:1rem;
	font-size: 2.5rem;

}

.item1{
	padding: 0.5rem;
}
.logo {
	padding: 0rem;
}

.imagem{
	background: #292d40;
	padding: 2rem;
	border-radius: 2rem;
	max-width: 80%;
}
.menu_tag, .figura{
	display: none;
}


.menu{
	align-items: flex-end;
	margin: 0rem;
}

.categorias_menu{
	color: #a3b3ff;
	font-family: 'Lora', serif;
	font-size: 1.5rem;
	text-decoration: underline;
}
.sub_menu{
	display:none;
	position: absolute;
	flex-direction:column;
	justify-content: space-around;
	background: #292d40;
	padding: 1rem;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
		
}

.Sub_Menu1{
  	color: #edf0ff;
 	font-size: 1.5rem;
	text-decoration: none;
  	font-family: 'Lora', serif;
}

.Menu3:hover .navi {
	border-bottom-left-radius: 0rem;
 	border-bottom-right-radius: 0rem;
}

.Menu3:hover .sub_menu{
	display: flex;
 	background-color: #525980;
 	flex-direction: column;
}

@media (max-width: 420px) {
	.Menu1, .Menu2, .Menu3 {
    	display: none;
  	}

  	.sub_menu2{
    	color:#EDF0FF;
  	}

	.header{
		display:  flex;
		width: 100%
	}
	.figura:hover .menu_tag{
    	position: absolute;
    	display: flex;
  	}

  	.sub_menu4{
    	display: none;
       	justify-content: center;
       	align-items: center
  	}

  	.Sub_Menu4 {
    	color: #edf0ff;
    	font-size: 1.5rem;
    	text-decoration: none;
    	font-family: 'Lora', serif;
    	width: 100%;
    	padding: 0.2rem;
    	justify-content: center;
    	align-items: center;s
    	letter-spacing: .2rem
  	}

  	.categorias_menu4{
    	padding:0.1rem;
 	}

  	.Menuu3:hover .sub_menu4{
    	display: flex;
  	}

  	.figura{
    	display: flex;
    	justify-content: center;
    	align-items:center;
    	width: 100%;
    	position: relative;
  	}

	
	.imagem{
		justify-content: center;
		align-items:center;
		margin-top: 0rem;
		padding:2rem;
	}
	.navi{
		display:  none;
	}
	.logo{
		width: 190px
	}

	.figura_index{
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin:1.2rem;
	}
	.nav{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width:80%;
		margin:1rem;
		padding: 1rem;
	}
	.lista{
		margin-top: 2rem;
	}

	.menu_tag{
    	background-color: #525980;
    	width: 15rem;
    	height: 20rem;
    	right: 0px;
    	top: 0px; 
    	padding: 0.2rem;
    	justify-content: center;

  	}
	 .sub_menu2{
		margin: 1rem;
		padding: 0.3rem;
		line-height: 200%;
		width: 100%;
		justify-content:center
	}

	.Menuu1, .Menuu2, .Menuu3 {
		text-decoration: none;
		color:#EDF0FF;
		font-size: 2rem
	}

	.sub_menu4{
	   	flex-direction: column;
	}

  	.teste{
    display: flex;
    width: 4.5rem;
    justify-content: center;
    align-items: center;
  }

}