.content{
	display: flex;
	width:70%;
}


body{
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: stretch;
}

.navi {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
  width:  100%;
  height:3rem;
  margin:0 auto;
}

.logo {
	display: inline-block;
  position: relative;
}

.sobre_image{
  padding:  0rem;
  width: 50%;
  justify-content: center;
  margin-left: 2rem;
  display: flex;
  background: black;
}

.texto_sobre{
  display: flex;
  padding-top:1rem;
  align-content: center;
  padding:1rem;
  width: 100%;
}

.posicao_texto_sobre{
  display: flex;
  justify-content: center;
  width: 100%;
}

.texto_com_imagem{
  width: 50%;
  margin-right: 5rem;
  background: blue
}

.divisao_horizontal{
  display: flex;
  direction: row;
  width: 100%;
}
