.body{
  display: flex;
  align-content: center;
  flex-direction: column;
  background: #edf0ff;
}

.navi {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  width:  100%;
  margin:0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Lora', sans-serif;
  background: #292d40;
  font-size: 1.5rem;
  border-radius: 2rem;
}

.Menu1, .Menu2{
  color:#EDF0FF;
  text-decoration: none;
}

.Menu3 {
  position:relative;
  color:#EDF0FF;
  text-decoration: none;
  display: block
}

.logo {
}

.figure{  
  justify-content: center;
  display: flex;
  margin: 1rem;
}

.sobre_image{
  width: 50%;
  height: auto;
}

.imagem { 
  max-width: 95%;
  height: auto;
  padding:1rem;
  background:#292d40;
  border-radius: 2rem;
}

.texto_sobre{
  display: flex;
  padding-top:1rem;
  align-content: center;
  width: auto;
  font-family: 'Red Hat Display', sans-serif;
  color:#EDF0FF;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  line-height:1.5rem;
}

.categorias_menu{
  color: #a3b3ff;
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  text-decoration: underline;
}
.sub_menu{
  position: absolute;
  display:none;
  flex-direction:row;
  justify-content: space-around;
  background: #292d40;
  padding: 1rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

}
.posicao_texto_sobre{
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 0.5rem;
  font-family: 'Lora', sans-serif;
  color:#EDF0FF;
  font-size: 2rem;
}

.texto_com_imagem{
  width: 47%;
  justify-content: center;
  font-family: 'Lora', sans-serif;
  margin: 1rem;
  margin-right: 0.5rem;
  padding:1rem;
  background:#292d40;
  border-radius: 2rem;
  margin-left: 2rem;
}

.divisao_horizontal{
  flex-flox: row;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.menu_tag, .figura{
  display: none;
}

.header{
  display:flex;
}

.posicao_titulo_sobre_mobile{
  display: none
}

.menu{
  align-items: flex-end;
  margin: 0rem;
}

.Sub_Menu1 {
  color: #edf0ff;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: 'Lora', serif;
}

a:hover, p:hover {
  color: #a3b3ff;
}

.Menu3:hover .navi {
 border-bottom-left-radius: 0rem;
 border-bottom-right-radius: 0rem;
}

.Menu3:hover .sub_menu{
 display: flex;
 background-color: #525980;
 flex-direction: column;
}

@media (max-width: 420px) {
  .Menu1, .Menu2, .Menu3 {
    display: none;
  }

  .divisao_horizontal{
    flex-flow: column;
    margin:0rem;
    padding: 0rem;
    justify-content: center;
    align-items: center;
  }


  .figura:hover .menu_tag{
    position: absolute;
    display: flex;
  }

  .imagem, .sobre_image, .figure{
    justify-content: center;
    margin: 0rem;
    max-width: 100%;
  }
  .imagem{
    justify-content: center;
  }
  .texto_com_imagem{
    width:  70%;
    justify-content: center;
    flex-flow: center;
    margin:0rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .texto_sobre{
    padding:  0rem;
  }
  .sobre_image{
    width:  70%;
    margin:0rem;
    padding: 0rem;
    justify-content: center;
    align-items: center;
    object-fit: contain
  }

  .teste{
    display: flex;
    width: 4.5rem;
    justify-content: center;
    align-items: center;
  }

  .header{
    display:  flex;
    width: 100%
  }

  .figura{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    position: relative;
  }

  .navi{
    display:  none;
  }

  .posicao_texto_sobre{
    display: none
  }

  .logo{
    width: 190px
  }

  .posicao_titulo_sobre_mobile{
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-top: 0rem;
    font-family: 'Lora', sans-serif;
    font-size: 2rem;

  }

  .menu_tag{
    background-color: #525980;
  }
}