body{
  display: flex;
  align-content: center;
  flex-direction: column;
}

.navi {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
  width:  100%;
  margin:0 auto;
  padding: 2rem;
  font-family: 'Lora', sans-serif;
}

.logo {
}

.sobre_image{
  width: 50%;
  height: auto;
  justify-content: center;
  margin-left: 2rem;
  display: flex;
}

.texto_sobre{
  display: flex;
  padding-top:1rem;
  align-content: center;
  padding:1rem;
  width: auto;
  font-family: 'Lora', sans-serif;
}

.posicao_texto_sobre{
  display: flex;
  justify-content: center;
  width: auto
  margin-top: 0.5rem;
  font-family: 'Red Hat Display', sans-serif;

}

.texto_com_imagem{
  width: 50%;
  margin-right: 5rem;
  font-family: 'Lora', sans-serif;

}

.divisao_horizontal{
  display: flex;
  direction: row;
  width: 100%;
  height:auto;
}
