.Body {
    display: grid;
    height: 1500px;
    grid-template-rows: 15% 5% 15% 10% 10% 10% 5% 25% 5% 5% ; 
    grid-template-columns: 15% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7% 15%;
}

.Project-Title {
    grid-row-start: 7;
    grid-row-end: 7 ;
    grid-column-start: 4;
    grid-column-end: 6;    
	             
}

.Project-Text {
    grid-row-start: 8;
    grid-column-start: 3;
    grid-column-end: 7 ;
	
}

.Project-imgs {
	grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 11 ;
    width: 100%;
    height: 100%;
    
}

.Project-img {
	grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start:8;
    
	
}

.Title-ER{
	grid-row-start: 9;
    grid-column-start:3;
    grid-column-end: 6 ;
}
.People{
	grid-row-start: 10;
    grid-row-end: 10;
    grid-column-start:3;
    grid-column-end: 6 ;
}

.Menu1 {
	grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start:6;
    grid-column-end: 7 ; 
}

.Menu2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start:7;
    grid-column-end: 8 ;
}

.logo{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start:2;
    grid-column-end: 3 ;
    margin: 20px;
}