.Body {
  display: grid;
  height: 1500px;
  grid-template-rows: 15% 5% 15% 10% 10% 10% 5% 25% 5% 5% ; 
  grid-template-columns: 15% 10% 10% 10% 5% 5% 10% 10% 10% 15% ;
}

.Project-Title {
  grid-row-start: 7;
  grid-row-end: 7 ;
  grid-column-start:3 ;
  grid-column-end: 5;    

}

.Project-Text {
  grid-row-start: 8;
  grid-column-start: 2;
  grid-column-end: 6 ;

}

.Project-imgs {
	grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 11 ;
  width: 100%;
  height: 100%;

}

.Project-img {
	grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start:7;


}

.Title-ER{
	grid-row-start: 9;
  grid-column-start:2;
  grid-column-end: 5 ;
}
.People{
	grid-row-start: 10;
  grid-row-end: 10;
  grid-column-start:2;
  grid-column-end: 5 ;
}


.header {
  width: 70%;
  justify-content: flex-start;
  display: flex; 
  margin: 0 auto;
}

.navi {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  width:  70%;
  height:3rem;
  margin:0 auto;
}

.logo {
  display: inline-block;
  width: 100%;
  margin-left:20%;
  position: relative;
}
