.cabecalho{
	position: relative;
	display: inline-block;
	margin-top: 20px;
	margin-left: 165px;
}

.nav{
	position: relative;
}

.nav-item{
	position: relative;
	display: inline-block;
	margin: 20px 100px;
	width: 115px
}

.imagem{
	position: relative;
	margin-top: 5px;
	margin-left: 100px;
}

.header {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 1024px;
	height: 70px;
	border-style: solid;
}
.logo {
	position: relative;
	left: 10px;
	top: 10px;
}

.sobre_image{
	position: relative;
	left: 10px;
	top: 70px;

}

.barra_sobre1{
	top: 10px;
	left:100px;
	position: relative;
	display:inline;
}

.barra_sobre2{
	top: 10px;
	left:100px;
	position: relative;
	display:inline;
}

.texto_sobre{
	top: 320px;
	left:380px;
	position: absolute;
	display:inline-block;
}
.posicao_texto_sobre{
	top: 280px;
	left:450px;
	position: absolute;
	display:inline;
}
