.html{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.body{
  margin:0;
  padding:0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #edf0ff;
}

.Project-imgs{
  display: flex;
  justify-content: center;
  margin: 5rem; 
  background: #292d40;
  width: auto;
  border-radius: 2rem;
  padding: 2rem;
}

.Project-imgs img{
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
}

.Project-img img{
  max-height: 30rem;
  max-width: 40rem;
  object-fit: contain;
}

.project-container{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin-left:3rem;
  margin-right:3rem;
}

.project-class{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  background-color: #292d40;
  padding: 2rem;
  border-radius: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.project-title{
  justify-content: center;
  display:flex;
  font-family: 'Lora', serif;
  color: #edf0ff;
  font-size: 2rem;
}

.membros{
  align-items: flex-end; 
  display: flex;
  font-family: 'Red Hat Display', sans-serif;
  color: #edf0ff;
}

.project-description{
  margin-top: 1rem;
  display:flex;
  font-family: 'Red Hat Display', sans-serif;
  color: #edf0ff;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  line-height:1.5rem;
}

.project-er{
  display: flex;
  align-items: flex-end; 
  margin-top: 4rem;
  font-family: 'Lora', serif;
  color: #edf0ff;
  font-size: 1.35rem;
  letter-spacing: .2rem;
  line-height:1.5rem;
}

.er-members{
  justify-self: flex-start;
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  color: #edf0ff;
  font-size: 1rem; 
  letter-spacing: .2rem;
  line-height:1.5rem;
}

.Project-img{
  border-radius: 2rem;
  margin-right: 0rem;
  margin-left: 1rem;
  padding: 1rem;
  margin-top: 0rem;
  background-color: #292d40;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
}

.Project-img img{
  width: 90%;
}


.Sub_Menu1{
  color: #edf0ff;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: 'Lora', serif;
}

.Menu3:hover .navi {
 border-bottom-left-radius: 0rem;
 border-bottom-right-radius: 0rem;
}

.Menu3:hover .sub_menu{
 display: flex;
 background-color: #525980;
 flex-direction: column;
}

.Menu1, .Menu2, .Menu3  {
  color: #edf0ff;
  text-decoration: none;
}

@media (max-width: 420px) {
  .project-container{
    flex-direction: column;
    align-content: center;
    padding-top: 0rem;
    margin-left:0rem;
    margin-right:0rem; 
  }
  .categorias_menu{
    display: none
  }
  .Menu1, .Menu2, .Menu3 {
    display: none;
  }

  .sub_menu2{
    color:#EDF0FF;
  }

  .menu_tag{
    display: flex;
  }
  .menu1, .menu2, .menu3 {
    display: none;
  }

  .navi{
    display: none;
  }

  .project-class{
    margin-left: 0rem;
    margin-top: 2rem;
  }

  .Project-img{
    margin: 0rem;
    border-radius: 2rem;
    margin-left: 0rem;
    max-width: 100%
  }

  .Project-imgs{
    margin: 2rem;
    padding: 1rem
  }

  .header{
    display: flex;
  }

  .figura{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    position: relative;
  }

  .logo{
    width: 190px;
  }

  .project-class{
    margin-right: 0rem;
  }

  .figura:hover .menu_tag{
    position: fixed;
    /*display: flex;*/
    right: -50px;
  }

  .sub_menu4{
    display: none;
  }

  .Sub_Menu4 {
    color: #edf0ff;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Lora', serif;
    width: 100%;
    padding: 0.2rem;
    margin-right: 1rem
  }

  .categorias_menu4{
    padding:0.1rem;

  }

  .Menuu3:hover .sub_menu4{
    display: flex;
    background-color: #292d40;
    border-radius:2rem;
    padding-left: 1rem
  }

  .menu_tag{
    background-color: #525980;
    width: 15rem;
    max-height: 800rem;
    right: 0px;
    top: 0px; 
    padding: 0.2rem;
    position: fixed;
    right: -500px;
    transition: right .5s;
    border-radius: 3rem
  }

  .sub_menu2{
    margin: 1rem;
    padding: 0.3rem;
    line-height: 200%;
    display:flex;
    flex-direction: column;
    font-size: 2rem
  }

  .Menuu1, .Menuu2, .Menuu3{
    text-decoration: none;
    color:#EDF0FF;
  }

  .sub_menu4{
    flex-direction: column;
  }

  .teste{
    display: flex;
    width: 4.5rem;
    justify-content: center;
    align-items: center;
  }
  .Menuu3:hover .sub_menu4{
    display: flex;
  }

  .Menuu3:hover .sub_menu4{
    display: flex;
    background-color: #292d40;
    border-radius:2rem;
    padding-left: 1rem
  }
}